@model WebUI.ViewModels.TestViewModel
@{
    ViewBag.Title = "Edit test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-md-7">
            @using (Html.BeginForm("EditTest", "Moderator", FormMethod.Post,
            new { @class = "form-horizontal", role = "form", id = "update" }))
            {
                <h2 style="text-align: left;">Room change test</h2>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Time, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Creator, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Creator, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Discription, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Discription, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        @for (int i = 0; i < Model.Questions.Count; i++)
                        {

                            @Html.LabelFor(m => m.Questions, new { @class = "col-md-2 control-label" })
                            <div class="form-group">
                                @Html.TextAreaFor(m => Model.Questions[i].Value, new { @class = "form-control" })
                                <p hidden="hidden"> @Html.TextBoxFor(m => Model.Questions[i].Id, new { @class = "form-control" })</p>
                                <p hidden="hidden"> @Html.TextBoxFor(m => Model.Questions[i].TestId, new { @class = "form-control" })</p>
                            </div>
                            @Html.LabelFor(m => m.Answers, new { @class = "col-md-2 control-label" })
                            <div class="form-group">
                                @Html.TextBoxFor(m => Model.Answers[i].Value, new { @class = "form-control" })
                                <p hidden="hidden"> @Html.TextBoxFor(m => Model.Answers[i].Id, new { @class = "form-control" })</p>
                                <p hidden="hidden"> @Html.TextBoxFor(m => Model.Answers[i].TestId, new { @class = "form-control" })</p>
                            </div>
                        }
                    </div>

                </div>

            }
        </div>
        <div class="col-md-offset-1">
            <div class="row content affix text-center">
                <div class="container">
                    <h3>Test is valid</h3>
                    Yes: @Html.RadioButtonFor(m => m.IsValid, true, new { @class = "radio-inline", form = "update" })
                    No: @Html.RadioButtonFor(m => m.IsValid, false, new { @class = "radio-inline", form = "update" })
                </div>
                <br />
                <p>You can delete this test if you will click @Html.ActionLink("here", "DeleteTest", new { id = Model.Id, name = string.Empty, page = 1 })</p>
                <div class="container">
                    <div class="row">
                        <input type="submit" class="btn btn-success" value="Update test" form="update" onclick="updateTest()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>