
@using Microsoft.Ajax.Utilities

@model WebUI.ViewModels.TestEditorViewModel
@{
    ViewBag.Title = "Moderator room";
}

<div id="results">
    <h1>Moderator room</h1>
    <div class="form-group">
        @Html.LabelFor(m => m.ShowNotValid, new { @class = "col-md-3 control-label" })
        <div class="col-md-5">
            Yes: @Html.RadioButtonFor(m => m.ShowNotValid, true, new { @class = "radio-inline", form = "form0", name = "showNotValid", onclick = "getNotValidTests()" })
            No:  @Html.RadioButtonFor(m => m.ShowNotValid, false, new { @class = "radio-inline", form = "form0", name = "showNotValid", onclick = "getNotValidTests()" })
        </div>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tests.GetEnumerator().Current.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tests.GetEnumerator().Current.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tests.GetEnumerator().Current.Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tests.GetEnumerator().Current.IsValid)
            </th>
        </tr>

        @foreach (var item in Model.Tests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsValid)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditTest", new { id = item.Id }) |
                    @Ajax.ActionLink("Delete", "DeleteTest", new { id = item.Id, name = Model.PageInfo.SearchItem, page = Model.PageInfo.PageNumber },
                        new AjaxOptions { Confirm = "Do you want delete '" + item.Name + "'?", UpdateTargetId = "results" }, new { @class = "text-danger" })
                </td>
            </tr>
        }

    </table>
</div>