@model WebUI.ViewModels.ProfileViewModel

<br>
<div class="panel panel-default">
    <div class="panel-heading panel-head">Delete User</div>
    <div class="panel-body">
        <h3 style="text-align: center">Are you sure you want to delete this?</h3>
        <h1>@ViewBag.ErrorMessage</h1>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Name,
                new { @class = "col-lg-2 control-label" })
                <div class="col-lg-9" style="padding-top: 7px">
                    @Html.DisplayFor(model => model.Name,
                    new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Login,
                new { @class = "col-lg-2 control-label" })
                <div class="col-lg-9" style="padding-top: 7px">
                    @Html.DisplayFor(model => model.Login,
                    new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email,
                new { @class = "col-lg-2 control-label" })
                <div class="col-lg-9" style="padding-top: 7px">
                    @Html.DisplayFor(model => model.Email,
                    new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Role,
                new { @class = "col-lg-2 control-label" })
                <div class="col-lg-9" style="padding-top: 7px">
                    @Html.DisplayFor(model => model.Role,
                    new { @class = "form-control" })
                </div>
            </div>

            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-7">
                        <input type="submit" value="Delete"
                               class="btn btn-danger" />
                        @Html.ActionLink("Back to List", "Index",
                        null, new { @class = "btn btn-success" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>