@model WebUI.ViewModels.UserViewModel

@{
    ViewBag.Title = "Edit user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("EditUser", "Admin", FormMethod.Post,
                new { @class = "form-horizontal", role = "form" }))
{
    <h2>Edit room</h2>
    @Html.Hidden(Html.TextBoxFor(m => m.Id, new { @class = "form-control" }).ToString())
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            <p hidden="true"> @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })</p>
        </div>
    </div>
    <div class="form-group">

        @Html.Label("Roles this user", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">

            @foreach (var item in Model.Roles)
            {
                <span> @item.Name</span>
            }
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IsAdmin, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            Yes: @Html.RadioButtonFor(m => m.IsAdmin, true, new { @class = "radio-inline" })
            No: @Html.RadioButtonFor(m => m.IsAdmin, false, new { @class = "radio-inline" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IsModerator, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            Yes: @Html.RadioButtonFor(m => m.IsModerator, true, new { @class = "radio-inline" })
            No: @Html.RadioButtonFor(m => m.IsModerator, false, new { @class = "radio-inline" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Update" />
        </div>
    </div>
}
