@model WebUI.ViewModels.ExtendedResultViewModel
<br>
<div class="test-example panel panel-default">
    <div class="panel-heading">Extended statistic</div>
    <div class="panel-body table-responsive">
        <table class="table" id="stat">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AverageProcent) %
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AverageTime)
                </th>
            </tr>
            <tr>
                <td id="avproc">
                    @Html.DisplayFor(model => model.AverageProcent) %
                </td>
                <td id="avtime">
                    @Html.DisplayFor(modelItem => modelItem.AverageTime.Seconds)
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="donut-chart">
</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
@Scripts.Render("~/Scripts/Chart.js")