@{
    ViewBag.Title = "Tests";
}

@model IEnumerable<WebUI.ViewModels.TestViewModel>
<br />
<div class="panel panel-default">
    <div class="panel-heading panel-head">Test Listing</div>
    <div class="panel-body">
        <a id="createTestModal"
           href="@Url.Action("CreateTest", "Test")" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>Test
        </a>

        <table class="table" style="margin: 4px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GetEnumerator().Current.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GetEnumerator().Current.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GetEnumerator().Current.Creator)
                </th>
                <th>
                    Action
                </th>

                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creator)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditTest", "Test",
                        new { id = item.Id }, new { @class = "btn btn-success" }) |
                        @Html.ActionLink("Delete", "Delete", "Test",
                        new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>