@model WebUI.ViewModels.ProfileViewModel
<br><br>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-xs-10 col-md-6 col-md-push-2">
                <h1>Name:@Html.DisplayFor(m => m.Name)</h1>
                <h3>Login:@Html.DisplayFor(m => m.Login)</h3>
                <h6>Email: @Html.DisplayFor(m => m.Email)</h6>
                <h6>Role: @Html.DisplayFor(m => m.Role)</h6>
            </div>
        </div>
    </div>
</div>
<br><br>

<div class="test-example panel panel-default">
    <div class="panel-heading">Statistic</div>
    <div class="panel-body table-responsive">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Result.GetEnumerator().Current.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Result.GetEnumerator().Current.CorrectAnswerCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Result.GetEnumerator().Current.IsPassed)
                </th>

                <th>Action</th>
            </tr>
            @foreach (var item in Model.Result)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CorrectAnswerCount)
                    </td>
                    @if (item.IsPassed)
                    {
                        <td class="success">
                            <label>Pass</label>
                        </td>
                    }
                    else
                    {
                        <td class="danger">
                            <label>Don't pass</label>
                        </td>
                    }
                    <td>
                        |
                        @Html.ActionLink("Details", "Statistic", "Profile",
                        new { id = item.Id }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>